header {
    display: none!important;
}

.print {
    height: 1000px;
    page-break-before: always;
    page-break-after: always;
}
td {
    height: 50px;
    max-height: 60px;
    font-size: smaller!important;
}
th {

    font-size: smaller!important;
}