<div class="panel">
  <div class="panel-header bg-lightBlue fg-white">
    Изменить валюту
  </div>
  <div class="panel-content">
    <%= render 'form' %>


    <%= link_to 'Назад', currencies_path, :class=> "button bg-cyan"  %>
  </div>
</div>