<h1>Editing apartment</h1>

<%= render 'form' %>

<%= link_to (I18n.t 'button.show'), @apartment, class: "btn btn-sm btn-default" %> |
<%= link_to (I18n.t 'button.back'), apartments_path, class: "btn btn-sm btn-primary" %>
