<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Release Date</Data></Cell>
        <Cell><Data ss:Type="String">Проба бля</Data></Cell>
      </Row>
      <% @apartments.each do |apartment| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= apartment.code_provision %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apartment.street_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apartment.account_number %></Data></Cell>
            <Cell><Data ss:Type="String"><%= apartment.city %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
