<footer class="footer">
  <small>
    <a href="http://www.saas.teleport-ds.com/">CBA APPRAISER SOFT</a>
    All Rights Reserved, 2014. Created by <a href="http://www.proalab.com/" target="_blank">Proalab</a>.
  </small>
  <nav>
  </nav>
</footer>